h5py
matplotlib>=3.1.2
numpy>=1.23.5
pandas>=1.5.2
scikit-image>=0.19.3
scikit-learn>=1.2.0
scipy>=1.10.0
SimpleITK>=2.0.2
tensorboard
tensorboardX
torch>=1.13.1
torchvision>=0.14.1
causal-conv1d>=1.5.0
mamba-ssm>=2.2.4
